/* #slideshowContainer{
	height:197px;
	position: relative;
	overflow:hidden;
}
#wideSlideshow{
	position:absolute;
}
#slideshowNav{
	position:absolute;
	right:10px;
	bottom: 10px;
	text-align: right;
	z-index: 6;
}
#slideshowNav a{
	position:relative;
} */
#homepageTabs {
	margin-top: 10px;
	min-height:100px;
}
#homepageBanner{
	width:776;
	height:198;
	margin-top: -10px;
}
li.productListTemplate{
	background:white;
	margin: 8px;
}

.ui-tabs .ui-tabs-nav li {
width:129px;
height:38px;
margin: 0px 2px;
white-space:normal;
text-align: center;
}
.dropdownBar {width: 615px;}
.dropdownContainer { 
	float: left; 
	position:relative;
	height: 50px;
	z-index: 1000;
}
.dropdown { 
	height: 0px; 
	overflow: hidden; 
	position:absolute;
	top: 50px;
	background: black;
	z-index: 1000;
	width: 145px
}

.dropdown li{
	height:30px;
}
.dropdown li a{
	font-size: 13px;
    font-weight: lighter;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-default{
	background: rgb(107,108,110);
	background-image:none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-default a{
	color: white;
}
.ui-state-default.ui-tabs-active{background-image: none;}
.ui-tabs .ui-tabs-nav li a{
	float:none;
    font-size: 13px;
    font-weight: bold;
}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom h1, h2, h3 {
    color: #222222;
    margin: 12px 0;
	font-size: 16px;
}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom p {
    color: #222222;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18px;
	margin: 7px;
}

.tabContent.ui-tabs-panel.ui-widget-content.ui-corner-bottom li {
    font-size: 12px;
    list-style: disc inside none;
    margin-left: 20px;
}
#eventsList li{
	color:#000000;
	margin-left: 25px;
	list-style: inside;
	font-size: 12px;
}
#smallBanner{
	margin: 10px 0px;
	width:776px;
	height:54px;
	position:relative;
	float:right;
}
.productListTemplateProd_name{
	height: 55px;
	font-size: 12px;
}
.productListTemplatePrice{
	display:block;
	height: 30px;
    margin-top: 3px;
}
.searchFieldset{
	border: none;
	height: 38px;
    position: relative;
    left: -10px;
    top: -5px;
}
#subscribeBtn{
	position: relative;
	bottom: 4px;
	left: 8px;
}
.productPageCartBtn{
	font-size: 17px;
    height: 45px;
    width: 125px;
}
.quickviewProdName{
	font-size: 20px;
}
.quickviewProdDesc{
	color:#222222;
	font-size:16px;
}
.quickviewProdDesc h1, h2, h3{
	font-size:18px;
	color:#222222;
}
.quickviewProdDesc p{
	line-height: 20px;
}
.ui-dialog .ui-dialog-titlebar-close{
	position:absolute;
}
.floatRight.removeButton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only{
	height: 34px;
}
.padMargBorderBottom.clearfix {
    border: medium none;
}
#modalCartContents{
	background:none repeat scroll 0 0 #FFFFFF;
}
.social_icons{
	float:left;
	width:340px;
/*	margin: 0 0 0 15px; */
}
.social_icons p{
    font-size: 17px;
    font-weight: 400;
	margin:0;
}
.socialLink{
	display: block;
	float: left;
	text-decoration: none;
	margin: 0px 11px;
}
.socialLink img{
	display: block;
}
.socialLink div{
	display: block;
	text-align: center;
}
#mobileSite{
    border-color: #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    margin-left: 14px;
	margin-top: -1px;
}