body,html	{font-size:100%; margin:0px; padding:0px; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; font-size:13px;}
ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#appTemplates {display:none;} /* container for all templates. should be hidden */

#appPreView	{width:550px; margin: 100px auto;}
#appPreView table {margin: 0 auto;}
#loader{ margin-top:10px; line-height:25px;}
.appview{ width:400px; padding:30px 50px 35px 50px; border:#6e6f70 solid 1px; border-radius:10px; box-shadow:0 0 12px #939598; }
.top_bg {
    background: none repeat scroll 0 0 #939598;
    height: 27px;
    line-height: 27px;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.top_hdr {
    color: #FFFFFF;
    height: 27px;
    line-height: 27px;
    text-align: right;
}
.cart {
    background: url(images/shopngcart.gif) no-repeat scroll left 5px transparent;
    padding: 0 0 0 26px;
}
.cart a {color: #ffffff;}
.live_chat {
    background: url(images/livechat.gif) no-repeat scroll left 5px transparent;
    font-size: 17px;
    padding: 0 0 0 26px;
    text-transform: uppercase;
}
.live_chat a {
    color: #FFFFFF;
	text-decoration:none;
}
.alignright {
    float: right;
}

.alignleft {
    float: left;
}
.top_links {
    color: #FFFFFF;
    font-size:12px;
}

.top_links a {
    color: #FFFFFF;
    margin: 0 9px;
	text-decoration:none;
}

.call {
    font-size:12px;
    margin: 0 35px;
}

.connect {
    font-size: 12px;
    line-height: 27px;
	margin:0 17px 0 0;
}
.connect span {
    margin: 0 5px 0 0;
}
.connect a img {
    margin: 3px 0 0 2px;
}
.logo {
    margin-right: 72px;
}
.banner_margin {
    margin: 18px 10px 0 0;
}

.banner_margin1 {
    margin: 10px 0 0;
}
#header {
    height: 103px;
    margin-top: 4px;
}

.nav {
    background: url(images/navbg.gif) repeat-x scroll left top #000000;
    border: 1px solid #D1D3D4;
    height: 50px;
    line-height: 50px;
}

#dualcats_onhover div.top_cat a {
    font-weight: bold;
    padding: 2px 0;
    text-decoration: none;
}
.nav a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    text-shadow: 2px 2px #1E1E1F;
}

.textbox {
    line-height: normal;
}
.search_btn{
    line-height: 30px;
}
.search_btn input {
    border: 0 none;
    cursor: pointer;
    height: 34px;
	margin: 7px 0px;
    width: 39px;
}

.nav .search {
    padding: 0 8px;
}
.textbox input {
    border: 1px solid #77787B;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 34px;
    line-height: 30px;
	margin: 7px 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 290px;
}

#dualcats_onhover div.top_cat {
    display: inline;
}
#dualcats_onhover .anylinkcss {
    margin-top: 5px;
    position: absolute;
    visibility: hidden;
    width: 175px;
    z-index: 1000;
}

#dualcats_onhover .anylinkcss a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 1px 4px;
    text-decoration: none;
}
#dualcats_onhover .anylinkcss a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}

.logo {margin-right: 72px;}
.alignleft {float: left;}
#dualcats_onhover div.sub_cats {
    background-color: #333333;
    border: 2px solid #000000;
    font-size: 11px;
    line-height: 140%;
}



.footer {
    background: url(images/footerbg.gif) repeat-x scroll left top #949699;
    border-top: 1px solid #939598;
    height: 61px;
    margin: 10px 0 5px;
}

.ftr_height {height: 61px; padding:15px 0;}
.lastcol_mar {margin-bottom: 5px;}
.lastcol_mar1 {margin-bottom: 13px;}
.lastcol_mar2 {margin-left: 15px;}
.signup_img { margin-right: 10px;}
.copyright {color: #636466;font-size: 11px;margin: 17px 0;text-align: right;}

.footer .submit_btn input {
    background: url(images/submit.gif) no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 27px;
    width: 79px;
}

.footer .textbox input {
    border: 1px solid #77787B;
    color: #000000;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0 8px 0 0;
    padding: 0 0 0 8px;
    width: 227px;
}

.ftr_margin {margin: 0 0 30px 232px; width: 772px;}
.ftr_margin h3{ margin:0 0 15px; padding:auto;}
.wikinav a {display: block;padding: 2px 0;}
#leftside{ width:211px; margin:0px 12px 0 0; float:left;}
#leftside .leftbox{ border:#939598 solid 1px; margin:10px 0 0 0;}
#leftside .leftbox h1{ background: url(images/navbg.gif); height:16px; font-size:16px; color:#fff; font-weight:bold; padding:14px 0 21px 12px;}
#leftside .leftbox ul{ margin:12px 12px 5px 12px;}
#leftside .leftbox ul li{ margin:0px; padding:0 0 10px;}
#leftside .leftbox ul li a{ color:#636466; text-decoration:none;}
#leftside .leftbox ul li a:hover{ color:#636466; text-decoration:underline;}

#leftside .recent{ border:#939598 solid 1px; margin:10px 0 0 0;}
#leftside .recent h1{ background: url(images/navbg.gif); height:16px; font-size:16px; color:#fff; font-weight:bold; padding:14px 0 21px 12px;}
#leftside .recent ul{ margin:12px 12px 5px 12px;}
#leftside .recent ul li{ margin:20px; min-height:51px; padding:0 0 0px; color:#51413b; clear:both;}
#leftside .recent ul li span{font-weight:bold;}
#leftside .recent img{ margin:0px 20px 0 0;}

.sideBanner{ width:211px; margin:0px 12px 0 0; float:left;}
.sideBanner img{ margin-top:15px;}

#mainContentArea{ width:776px; float:left; padding:10px 0 0 0;}
.cb{ clear:both;}
.feat_cats_box{ background:url(images/featuredbg.gif) repeat-x; height:194px; width:148px; margin:0 6px 0 0; border:#6e6f70 solid 1px; font-size:14px; color:#656768;}
.feat_cats_box .img{ line-height:155px;}
/*
loading class. add class to your templates if you want a loading graphic to appear while data is requested. add only to the parent element. 
loadingBG classname is removed once template is rendered.
note - wait should only be used in cases where the entire template is being reloaded. the class is NOT automatically removed ever.
note - background- are use instead of background in case element this is applied to has a bgcolor and it's !important. (like a modal parent)
*/
.loadingBG	{background-image:url(loading.gif) !important; background-repeat: no-repeat !important; background-position: center center; min-height:100px !important; min-width:100px;}
li.loadingBG, .wait	{background:url(wait.gif) no-repeat top center !important; min-height:20px !important; min-width:20px;}
span.wait	{display:inline-block;}

/******* global styles - added for cross-browser uniformity or usability ******/

.viewdetails{margin:0px;}
img	{border:0; vertical-align: top; display:inline-block;} /* vertical-align: top; removes the whitespace sometimes added under an image.  */
button {display:inline-block; margin: 0; padding: 0; cursor:pointer !important;}
p{margin-bottom:12px;}

a {
    color: #636466;
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
td	{vertical-align:top;}
td.valignMiddle	{vertical-align: middle;}



/* feel free to delete these or override in your own .css file */
h1, h2, h3, h4, h5, h6	{padding:0; margin:0; color:#222222;}
p	{margin:0 0 12px 0;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}

input.numberInput	{width:50px}

button:focus	{outline:none;}

.zform_number	{width:50px;}

/*
classes used on menus that are toggled on/off. wrap offMenu around the default buttons and onMenu around buttons that get turned on.
for example, in /customer/myaccount, a 'change' button is displayed (wrapped in offMenu) for each address. onClick, 'onMenu' is toggled on, revealing save and cancel
and offMenu is toggle off, hiding the change button.
*/
.onMenu	{display:none;}
.offMenu	{}


.bindByAnchor	{} /* here just to give a little aid to wysiwyg editors. no styles should be applied. used w/ bindNav feature */




/* some general classes used for styling templates. feel free to use these. It's not recommended you delete or rename them */

.featured_prod{ background:url(images/fbg.gif) repeat-x; height:21px; margin-bottom:10px; border:#000 solid 1px; font-size:14px; color:#fff; padding:2px 0 0 8px;}

/******* positioning *******/

.floatLeft	{float:left;}
.floatRight	{float:right;}

.alignCenter	{text-align:center;}
.alignLeft	{text-align:left;}
.alignRight	{text-align:right;}

.center	{margin:0 auto;}


/****** aesthetics/usability ******/

/* added to buttons (such as place order) when they're disabled to clearly indicate they should not be clicked again. */
.disabled	{
	cursor:crosshair !important;
	filter: alpha(opacity=50);
	opacity:0.5;
	}
.formValidationError, .zwarn	{color:#cc0000;} /* applied to errors displayed in form validation or generic warnings */
.pointer	{cursor:pointer;}

/* used when an element needs to start of hidden. this is used frequently. */
.displayNone	{display:none;}

.lineThrough	{text-decoration:line-through}
.underline	{text-decoration:underline; cursor:pointer} /* only use this on clickable text */
.borderNone	{border:none;}

.clearfix	{clear:both;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}
	
/* added to a piece of text once it becomed editable */
.editable	{} /* put this on any editable field. */
.editEnabled	{border:1px solid #ffcc00; min-width:25px; min-height:22px; width:200px; display:inline-block; padding:2px; margin-bottom:2px;} /* added to any editable field once editor is enabled. */
.edited		{border:1px solid #390;} /* added if a field is changed */



.marginLeft	{margin-left:12px;}
.marginRight	{margin-right:12px;}
.marginTop	{margin-top:12px;}
.marginBottom	{margin-bottom:12px;}
.stdMargin	{margin:12px;}
.headerPadding	{padding: 3px 6px;} /* for use in headings or legends that use the ui-state classes and need a little padding within. */
.stdPadding	{padding:12px;}
.fullWidth	{width:100%;}




.buyerLoggedIn .hideIfLoggedIn	{display:none;}

.hideIfLoggedOut	{display:none;}

.buyerLoggedIn .hideIfLoggedOut	{display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut, .buyerLoggedIn a.hideIfLoggedOut	{display: inline;} /* ensures inline on span elements */





/****** APP specific styles ******/


/* messaging css. some error css is defined in the jqueryui styles */

.appMessage P	{padding:0; margin:0;} /* used in app messaging for warnings, alerts, successes, etc */
.zMessage	{margin:6px; 0}

.appMessage	{margin-bottom:12px; position:relative;}
.appMessage .stdMargin {padding:5px;}
.appMessage .ui-button	{position:absolute; top:-3px; right:-3px; z-index:100;}
.appMessage .ui-icon	{float:left; margin-right:12px;}

/* some messages have a red bg. add a white circle around the icon in these cases. */
.ui-state-z-ise .ui-icon, .ui-state-z-error .ui-icon, .ui-state-z-debug .ui-icon	{
	background-color:#ffffff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

/*.appMessage .ui-icon-alert	{background:url(images/error-82x82.png) no-repeat; height:82px; width:82px; margin:0 10px 10px 0;} */
.appMessage .appMessageTxt	{float:left;}

.ui-state-success, .ui-state-statusupdate	{border:1px solid #aecdae !important; background:#e3f6e3 !important; color:#333333 !important;}
.ui-state-warning	{border:1px solid #f58d48 !important; background:#ffdfc9 !important; color:#333333 !important;}


/* used in order history and faq (possibly other places) in a format similar to an accordian, but more than one panel can be open. */
.appAccordianesque .ui-accordion-header {padding:3px 24px;}



/* pages like  company and/or customer are in a two column format. by default, a narrow right w/ nav and the main column w/ content. */

.mainColumn	{/*width:75%;*/width:100%;}
.sideline	{float:right; width:20%; margin:0 0 24px 0px;}
.sideline a	{padding:0px 0; text-decoration:none; display:block;} /* recommend at least 5px vert padding for mobile/pad */




/* app nav */

#appNav {position:relative; overflow:visible; z-index:99;}
#appNav .prodDetailPrevItemButton	{position:absolute; top:35px; left:15px;}
#appNav .prodDetailNextItemButton	{position:absolute; top:35px; right:15px;}



/***************************************************

LISTS (product list and/or subcategory list)
these get used just about everywhere. leave these fairly generic 
and override using classes or id's as needed.

***************************************************/

.listStyleNone, .listStyleNone li	{list-style:none;} /* apply to a ul or ol */
.noPadOrMargin	{padding:0; margin:0;}
.fluidList li	{float:left; margin:12px; padding:0; display:inline-block;}

.quickView	{position:absolute; top:5px; right:5px; z-index:1001;} /* jqui modal has zindex 1002 */

/* over rides - height and width ensure each row is the same height. percentages could be used for width */
.productList > li	{height:250px; padding:10px; position:relative; width:148px; min-height:110px; border:#444444 solid 1px; text-align:center;}
.lineItemProdlist > li	{position:relative; display:block; padding:12px 0; width:100% !important; height:auto; border-bottom:1px dotted #efefef;} /* single column product list - used in cart, checkout, etc. productList class is also defined in these cases. */

.lineItemProdlist .prodThumb	{margin-right:12px;}

.categoryList > li	{width:148px; height:200px; border: 1px solid #242525;text-align: center; padding:6px;}

.productList h4, .productList h5, .productList h6, .categoryList h4, .categoryList h5, .categoryList h6	{padding:0; margin:0;} /* h4 - h6 are used in default templates for name, price, etc */

.productList li, .categoryList li	{font-size:14px; color:#51413b;}

.productList h4, .categoryList h4	{font-size:1em;}
.productList h5, .categoryList h5	{font-size:14px; font-weight: 300;}
.productList h6, .categoryList h6	{font-size:13px;}


/* multpage header for lists (product list) - most styling handled by jqueryUI */

.mpControls	{padding:2px 6px;}




/* used for the picture slider mouse over effect in some product lists */

.slideMe	{position:absolute; top:0px;}
.slideMe, .slideMe li	{list-style:none; margin:0; padding:0;}
.slideMe li	{float:left; margin-right:2px; border:0;}





/* for variations */

.variation	{margin-bottom:6px;} /* class applied to div containing a variation group */
.pogType_radio span label	{display:block; margin-bottom:4px; margin-left:12px;}




/***************************************************

PRODUCT DETAIL PAGE (productTemplate)

***************************************************/

.prodViewerContainer	{width:100%;}

.breadAndAddThisContainer	{margin-bottom:8px; padding-bottom:8px; border-bottom:1px dotted #b6b6b6;}

/* primary image and thumbnails */
.imageContainer	{width:10%; padding-right:24px;}
.prodViewerContainer .prodThumbs div	{float:left; margin:12px 12px 0 0;}


.prodSummaryContainer	{width:90%;}


.tabbedProductContent .prodReviewsTab	{display:block;} /* reviews tab always shows up */

/*
the child list and loading graphic should only show up IF the product is a parent.
so the displayNone class is used, then a .grpType_PARENT class is added if the item is a parent.
*/
.grpType_PARENT	{display:block; margin-bottom:12px;}
#prodlistChildren li	{width:75px; height:120px; overflow:hidden; margin-left:0;}

.prodViewerAddToCartForm	{margin-bottom:24px;}
.prodViewerAddToCartForm fieldset	{margin:0 0 12px 0; padding:0;}
.variation > label:after	{content:":"; padding-right:12px;} /* applies to first label in a group. so no impact on radio labels */

.CRMButtonMenu	{margin:0; padding:0; margin-bottom:12px;}

.pogType_attribs	{display:none;} /* don't show finder attributes */

/****** REVIEW GFX - used for review summary and in list of reviews on product detail page ******/

.reviewSummaryContainer	.numReviews	{line-height:21px; display:inline-block; height:21px; float:left; margin-left:4px; padding-right:6px;}
.reviewSummaryContainer	.numReviews:after	{content:": "}

.reviewSprite	{background: url(qs_reviews_stars-124x324.png) no-repeat; width:124px; height:22px; display:none;} /* display none hides the reviews for the 'zero' reviews graphic */
.review_1, .review_2, .review_3, .review_4, .review_5, .review_6, .review_7, .review_8, .review_9, .review_10	{display:inline-block;} /* show 1/2 - 10 stars */
.review_1 	{background-position:0 -29px;}
.review_2	{background-position:0 -61px;}
.review_3	{background-position:0 -91px;}
.review_4	{background-position:0 -121px;}
.review_5	{background-position:0 -151px;}
.review_6	{background-position:0 -181px;}
.review_7	{background-position:0 -211px;}
.review_8	{background-position:0 -241px;}
.review_9	{background-position:0 -271px;}
.review_10	{background-position:0 -302px;}

.prodlist .review_0	{display:none;} /* hide the stars for items with no reviews */


/****** REVIEW LIST - on product detail page, used for product reviews. ******/
#prodViewerReviews	{margin:0; padding:0;} /* parent ul containing all reviews, each review as an li */
.reviewLineItem {margin:0 0 12px 0; padding:0 0 12px 0; display:block; clear:both; border-bottom:1px #cccccc dotted;} /* on the li of an individual review */
.prodReviewInfo	{float:left; display:block; width:165px; list-style:none; margin:0 12px 0px 0; font-weight:normal; padding:0;} /* on the ul of the list containing the name, location, date, etc */
.prodReviewInfo li	{display:block; clear:both;} /* applies to li for location, name, date, etc */
.prodReviewTemplate li p	{font-weight:normal; margin:0; padding:0;}

.reviewLineItem blockquote	{margin:0 0 0 185px; padding:0;}


/****** WRITE REVIEW MODAL ******/
#reviewFrm label	{display:block; text-align:right; float:left; width:150px;}
#reviewsMessage		{width:250px; height:250px;}
#reviewFrm input, #reviewFrm textarea, #reviewFrm select	{margin-bottom:5px;}
#reviewFrm .ui-button	{float:right;}

/***************************************************

BREADCRUMB
 -> used on product and category pages

***************************************************/


.breadcrumb	{margin-bottom:12px;}
.breadcrumb li	{padding:0; margin:0; cursor:pointer; padding-right:10px;}
.breadcrumb li:after	{content:" \00BB "; padding-left:10px; font-size:10px; font-weight:bold; color:#999999;}
.breadcrumb li:last-child:after	{content:"";}

.breadcrumb li:last-child a	{color:#666666; text-decoration:none; font-weight:bold; cursor:text;}



/***************************************************

cartTemplate

***************************************************/


.cartContainer	{width:100%;}

#mainContentArea_cart .continueShoppingButton	{display:none;} /* used in modal cart only */

/***************************************************

CUSTOMER PAGES

***************************************************/




/****** LOGIN MODAL ******/
#loginFormForModal fieldset	{border:0}
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}


/****** NEWSLETTER SUBSCRIBE/ACCOUNT CREATE ******/
#subscribeFormContainer .userInfo div	{margin-bottom:6px;}
#subscribeFormContainer li	{list-style:none;}
#subscribeFormContainer .userInfo label, #changePasswordForm label	{width:120px; display:inline-block; margin-right:10px;}
.subscribeListItem	{display:block; height:30px;}


/****** ORDER HISTORY AND INVOICE ******/

#ordersArticle .ui-accordion-content	{padding:.4em} /* reduce padding here to make a little extra room */
#ordersArticle .orderContentsTable	{width:100%}


#orderInvoiceSoloPage table	{width:700px;}
.orderContentsProdlistContainer	{width:500px;}
.orderContentsProdlistContainer .prodThumbContainer	{float:left; margin:0 5px 5px 0;}


/****** MY ACCOUNT ******/

#buyerAddresses	{margin-bottom:12px;}
#buyerAddresses h2	{margin:12px 0; clear:both;}
#buyerAddresses address	{margin:0 0px 12px 0; float:left; width:90%; display:block; padding:5px;}



/***************************************************

SEARCH RESULTS PAGE

***************************************************/

#mainContentArea_search	{position:relative;}

.resultsHeader	{position:relative; padding:3px 6px;}
.resultsMenuContainer	{position:absolute; top:1px; left:3px;}
.resultsMenuContainer .resultsMenu	{margin:3px 12px 0 0px;} /* used for sorting and pagination menus */
.resultsMenuContainer ul.ui-menu ul	{z-index:10000; width:150px;}

.resultsHeader .nextPageButton, .resultsHeader .prevPageButton	{float:right;}

.resultsMenuContainer .ui-menu-icon	{float:left;} /* make sure > icon in menu's floats to the left when subnav is avail. */

.minimalMode .hideInMinimalMode	{display:none;}
.minimalMode .searchResultsProduct	{
	height:120px; width:120px; overflow:hidden; margin:0 5px 5px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	}

/***************************************************

HELP PAGES

***************************************************/

/***** CONTACT US ******/
#contactForm {float:right; margin: 0 0 12px 12px;}
#contactForm fieldset	{border:1px solid #939598; padding:10px; width:310px;}
#contactForm div	{margin-bottom:5px}
#contactForm label	{width:75px; display:inline-block; margin-right:6px; vertical-align:top; text-align:right;}
#contactForm input, #contactForm textarea	{width:205px; border:#ccc solid 1px; padding:2px;}
#contactForm textarea	{height:125px;}



/**** FAQ *****/
.faqQuestion:before, .faqAnswer:before	{font-size:1.4em; font-weight:bold; padding-right:10px; color:#CCCCCC; display:inline-block;}
.faqQuestion:before	{content:"Q: ";}
.faqAnswer:before	{content:"A: ";}

.faqAnswer	{margin-bottom:12px;}






/***************************************************

CART


***************************************************/

.cartSummaryTotalsContainer h2	{margin:0; border-top:0; border-left:0; border-right:0; padding:2px 12px; font-size:.8em;} /* header */
.cartSummaryTotalsContainer .cartSummaryContainer	{padding:12px;}
.cartZipCodeContainer, .cartAltButtonsContainer, .cartSummaryContainer	{margin-bottom:12px; padding-bottom:12px; border-bottom:1px dotted #efefef;}

.cartStuffContainer	{width:75%; vertical-align:top; padding-right:12px;}
.cartSummaryTotalsContainer {width:25%; padding-left:12px; font-size:.8em;} /* by default, this is the right column */

.checkoutButtonsContainer span	{display:block; float:left; margin:0 12px 12px 0;}

.cartShipMethods, .cartZipCodeContainer, .cartSummary	{margin:12px 0;}

.cartSummaryTotalsContainer h3	{margin:12px 0;} /* shipping methods prompt */

.checkoutButton	{font-weight:bold !important;} /* probably want to customize this with a graphic or something that stands out much more */






/***************************************************

CHECKOUT

***************************************************/

#paybySupplemental_CREDIT .ui-icon-help	{display:inline-block; margin-left:6px;}


.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental select {margin-right:12px;}

.addressList address	{float:left; margin:0 12px 12px 0;}

.creditCardCVVIcon	{display:inline-block !important;}

.checkoutFormContainer input, checkoutFormContainer select	{margin:2px 6px 2px 0;}
.checkoutFormContainer input[type='password']	{width:200px;} /* class affects both login password and create account passwords */

.headerPadding label	{padding:2px 6px;}

/* Pure CSS3 Multi Level Drop Down Navigation Menu */
/*             http://www.bloggermint.com/demos/darknavmenu/#            */


/* menu container */
.ddUlMenu {
	overflow: hidden;
	}
.ddUlMenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor:pointer;
	}


.ddUlMenu li ul {
	left: -999em;
	margin: 14px 0px 0 -20px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	}

.ddUlMenu li:hover ul {
	left: auto;
	}

/* tier 2 nav */
.ddUlMenu li ul li	{cursor:pointer;} /* click is likely binded to li, so make it all a cursor */
.ddUlMenu li ul a {
	background: none;
	line-height:24px;
	font-weight:normal; font-size:.8em;
	display:block;
	border: 0 none;
	width: 160px;
	}



.debug	{position:fixed; bottom:0; left:0; right:0; background:#ffffff; color:#000000; border-top:1px solid #666666; padding:5px;}

.number_slideshow{
    line-height: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
	height:200px;
}
.number_slideshow .number_slideshow_nav{
    filter: alpha(opacity=60);
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.number_slideshow .number_slideshow_nav li{
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-left: 6px;
    position: relative;
    float: left;
}
.number_slideshow .number_slideshow_nav li a{
    padding-left: 8px;
    padding-right: 8px;
	font-size:12px;
	font-weight:bold;
}
.number_slideshow ul{
    margin: 0px;
    background-position:center center;
    background-repeat: no-repeat;
}
.number_slideshow ul li{
     border-radius: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
}
.number_slideshow ul li p{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 23px;
}
.number_slideshow ul li a{
    text-decoration: none;
}
.number_slideshow ul li a img{
    border: none;
	border-radius:4px;
}
.ztitle2{ color: #666666;
    font-size: 14px;
    font-weight: bold;
    }

.ztxt {
    color: #515151;
    font-size: 14px;
}
.zborder {
    border: 1px solid #333;
}
.zbox {
    border: 1px solid #C0C0C0;
}

.zbody {
    background-color: #FFFFFF;
}

.zbox_body {
    background-color: #EDEEEF;
    color: #515151;
    font-size: 11px;
}
.zbox_head {
    background-color: #DBDDDF;
    color: #959B9E;
    font-size: 12px;
}
.zcolor {
    background-color: #232424;
    color: #FFFFFF;
}
.zcolor_contrast {
    background-color: #717171;
    color: #FFFFFF;
}
.zcolor_dark {
    background-color: #3E3F40;
    color: #FFFFFF;
}
.zcolor_light {
    background-color: #EDF2FD;
    color: #515151;
}
.zform_button {
    background-color: #D2D2D5;
    border: 1px solid #5C5C5D;
    color: #444444;
    font-size: 11px;
}
.zform_select {
    background-color: #FFFFFF;
    border: 1px solid #B7B8BA;
    color: #000000;
    font-size: 11px;
}
.zform_textarea {
    background-color: #FFFFFF;
    border: 1px solid #AEB3B8;
    color: #000000;
    font-size: 11px;
}
.zform_textbox {
    background-color: #FFFFFF;
    border: 1px solid #AEB3B8;
    color: #000000;
    font-size: 11px;
}
.zhint {
    color: #666666;
    font-size: 10px;
}
.zlink {
    color: #4B3803;
}
.zsmall {
    color: #515151;
    font-size: 10px;
}
.ztab0 {
    background-color: #EDF2FD;
    color: #515151;
    font-size: 11px;
}
.ztab1 {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}
.ztabbody {
    background-color: #EAE7E5;
    color: #515151;
    font-size: 11px;
}
.ztable_head {
    background-color: #646566;
    color: #FFFFFF;
    font-size: 13px;
}
.ztable_row {
    color: #666666;
    font-size: 12px;
}
.ztable_row0 {
    color: #666666;
    font-size: 12px;
	padding:0 0 7px 0px;
}
.ztable_row1 {
    background-color: #FFFFFF;
    color: #666666;
    font-size: 12px;
}
.ztable_row_small {
    color: #666666;
    font-size: 10px;
}
.ztable_row_title {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.ztitle {
    color: #999CA3;
    font-size: 15px;
    font-weight: bold;
}
.ztitle2 {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.zwarn {
    color: #FF0000;
    font-weight: bold;
}
.wiki_section h2{ margin:0 0 10px;}
.wiki_section h3{margin:0 0 5px;}
#shippingArticle h1{ font-size:21px; margin-bottom:10px;}
#shippingArticle h2{margin:0 0 10px; font-size:16px;}
#aboutArticle h1{ font-size:21px; margin-bottom:10px;}
#aboutArticle h2{margin:0 0 10px; font-size:16px;}
#returnArticle h1{ font-size:24px; margin-bottom:10px; color:#000000;}
#returnArticle h2{margin:0 0 10px; font-size:16px;}
#privacyArticle h1{ font-size:24px; margin-bottom:10px; color:#000000;}
#privacyArticle h2{margin:0 0 10px; font-size:16px;}
#paymentArticle h1{margin:0 0 10px; font-size:20px;}
#paymentArticle h2{margin:0 0 10px; font-size:16px;}
#faqArticle h1{ font-size:21px; margin-bottom:10px;}
#faqArticle h2{margin:0 0 10px; font-size:16px;}
#contactArticle h1{font-size:21px; margin-bottom:10px;}
#recipesArticle h1{font-size:24px; margin-bottom:15px; color: #000000;}

#tabs-1{ padding:0px !important;}
#tabs-1 .prodlist1{ padding:0px !important;}
#tabs-2 #prodlist2 { padding:0px !important;}
#tabs-3 #prodlist3 { padding:0px !important;}
#tabs-4 #prodlist4 { padding:0px !important;}
#tabs-5 #prodlist5{ padding:0px !important;}
.prod_w {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #242525;
    color: #51413B;
    padding: 5px 1px 15px 5px;
    text-align: center;
    width: 178px;
}

.feat_prodlist_outer{ margin:0 0 0 -6px;}

.feat_prodlist_outer .name {
    height: 35px;
    overflow: hidden;
}

.price {
    margin-bottom: 15px;
}
.addtocart {
    margin-bottom: 6px;
}

.ui-widget-overlay ui-front{opacity:0; background:none;}
.ui-widget-overlay{opacity:0;}
.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .ui-draggable .ui-resizable{top:150px;}
#loginFormForModal{position:relative; top:80px;}
#modalCartContents{background:#fff;}
#modalCart{ height:auto!important;}
td.cartSummaryTotalsContainer div.ui-widget{ background:#F7F7F7; padding:10px 15px 0 15px;}
td.cartSummaryTotalsContainer div.ui-widget h2.ui-widget-header{ font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; font-size:18px; font-weight:bold; text-align:center; color:#636466;}
#modalCartContents{border:2px solid #D1D3D4; margin:10px 0 0 0; background:#f7f7f7; padding:10px}
.ui-dialog .ui-dialog-title{background:#CCC; width:100%;}
.ui-dialog .ui-dialog-titlebar-close{ right:15px!important;}
td.cartSummaryTotalsContainer div.ui-widget div.cartSummaryContainer{ float:left;}
section.stdMargin menu.cartAltButtonsContainer button.ui-button-text{ width:100%;  background-color: #E6E6E6;
background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9); background-repeat: repeat-x; border: 1px solid #D2D2D2; border-radius: 5px 5px 5px 5px; color: #636466!important; float: left; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 20px; margin-bottom:10px;}
section.stdMargin div.checkoutButtonsContainer span{ margin:0px; padding:0px; width:100%;}
div.checkoutButtonsContainer span button.ui-button-text{ width:100%;  background-color: #E6E6E6;
background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9); background-repeat: repeat-x; border: 1px solid #D2D2D2; border-radius: 5px 5px 5px 5px; color: #636466!important; float: left; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 20px; margin-bottom:10px; font-weight:normal!important;}
td.cartSummaryTotalsContainer div.cartSummaryContainer{ margin:0px; padding:0px;}
td.cartSummaryTotalsContainer section.stdMargin{ margin:0px;}
div.ui-dialog-titlebar span#ui-id-2.ui-dialog-title{   background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9);
    background-repeat: repeat-x;
    border: 1px solid #D2D2D2;
    border-radius: 5px 5px 5px 5px;
    color: #636466;
    float: left;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px; width:97.8%;}
#loginFormForModal{ top:0px; height:auto!important;}
div#loginFormContainer form#modalLoginForm input.ui-button-text{ width:auto;  background-color: #E6E6E6;
background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9); background-repeat: repeat-x; border: 1px solid #D2D2D2; border-radius: 5px 5px 5px 5px; color: #636466!important; float: left; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size:14px; margin-left:120px; font-weight:normal!important;}
fieldset input.ui-button-text{ width:auto!important;  background-color: #E6E6E6!important;
background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9)!important; background-repeat: repeat-x!important; border: 1px solid #D2D2D2!important; border-radius: 5px 5px 5px 5px!important; color: #636466!important; float: left!important; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif!important; font-size:14px!important; margin-left:120px; font-weight:normal!important;}
.createBtn{ width:auto!important;  background-color: #E6E6E6!important;
background-image: -moz-linear-gradient(center top , #D1D3D4, #A5A7A9)!important; background-repeat: repeat-x!important; border: 1px solid #D2D2D2!important; border-radius: 5px 5px 5px 5px!important; color: #636466!important; float: left!important; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif!important; font-size:14px!important; margin-left:130px; margin-top:10px; font-weight:normal!important;}

#slideshowNav a {
	margin: 0 8px; font-size:.9em; 
	text-decoration: none;
	display:inline-block;
	padding: 1px 8px;
	border: 1px solid #c0b3ad;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:#635f5c;
	background: #ffffff;
	}

#slideshowNav a:hover, #slideshowNav a.activeSlide {
	color:#ebded5;
	border-color:#c0b3ad;
	background: #a29688;

	}

#slideshowNav a:focus { outline: none; }
.newsletterBox{ width:736px; float:left; margin:25px 0 0 0; padding:0 20px;}
.newsletterLeft{ width:50%; float:left}
